body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: 100vh;
}
nav {
  width: 80%;
  margin: auto;
  height: 100px;
  vertical-align: middle;
  line-height: 100px;
}
img  {
  width: 100px;
  line-height: 80px;
  vertical-align: middle;
}
.menu-inline{
  list-style: none;
}
.menu-inline li{
  display: inline-block;
  position: relative;
}
.menu-inline  a {
  text-decoration: none;
  color: lightgrey;
  padding: 0 20px;
}
.float-left{
  float: left;
}
.float-right {
  float: right;
}
.logo {
  width: 100px;
  height: 60px;
  background-color: #D2007E;
  border-radius: 50px;
}

.parent-dropdown-accounts{
  position: relative;
}
.dropdwon-accounts{
  position: absolute;
  top:60px;
  right: 0px;
  display: none;
  flex-direction: column;
  line-height: 40px;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  width: 80px;
  justify-content: center;
  color: lightgrey;
  filter: drop-shadow(30px 10px 4px #FFFFF);
}


.dropdown-prodotti{
  position: absolute;
  top:60px;
  right: -50px;
  display: none;
  flex-direction: column;
  line-height: 40px;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  width: 200px;
  justify-content: center;
  color: lightgrey;
}
.dropdown-azienda{
  position: absolute;
  top:60px;
  left: -20px;
  display: none;
  flex-direction: column;
  line-height: 40px;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  width: 100px;
  justify-content: center;
  color: lightgrey;
}
.dropdown-aiuto {
  position: absolute;
  top:60px;
  left: -20px;
  display:none;
  flex-direction: column;
  line-height: 40px;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  width: 100px;
  justify-content: center;
  color: lightgrey;
}
.dropdown-language{
  position: absolute;
  top:60px;
  left: -20px;
  display: none;
  flex-direction: column;
  line-height: 40px;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  width: 80px;
  justify-content: center;
  color: lightgrey;
}
li:hover{
  color: black;
}
a:hover{
  color: black;
}
.flex{
  display: flex;
}
