body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
}
nav {
  width: 80%;
  margin: auto;
  height: 100px;
  vertical-align: middle;
  line-height: 100px;
}
.menu-inline{
  list-style: none;
}
.menu-inline li{
  display: inline-block;
  position: relative;
}
.menu-inline  a {
  text-decoration: none;
  color: lightgrey;
  padding: 0 20px;
}
.float-left{
  float: left;
}
.float-right {
  float: right;
}
.logo {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-color: #D2007E;
  border-radius: 50px;
}
.parent-dropdown-accounts{
  position: relative;
}
.dropdwon-accounts{
  position: absolute;
  top:60px;
  left:0;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  color: lightgrey;
}

.dropdwon-accounts li {
  margin-left: -15px;
}
.dropdown-prodotti{
  position: absolute;
  top:60px;
  right: -10px;
  display: flex;
  flex-direction: column;
  line-height: 40px;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  width: 100px;
  justify-content: center;
  color: lightgrey;
}
